{% load i18n %}
<!doctype html>
<html lang="es">
    <head>
        <title>{{site.domain}} registro</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>

    <body>
        <div style="width: 800px;margin: 30px auto;text-align: center;color:black;">
            <figure>
                <img src="https://s3.amazonaws.com/s3shopneubs/static/img/logo-email.png" style="width: 190px; height: 55px;display: block;margin-right:auto;margin-left:auto;background-color:#303841;padding-top:7px;border-radius: 8px;">
            </figure>
            <h2 style="font-size: 30px; font-family: inherit;font-weight: 500;
                line-height: 1.1;color: inherit;margin-top: 20px;margin-bottom: 10px;"><b>Bienvenido a {{site.name}}</b></h2>
            <hr>
            <h3 style="font-size: 24px; font-family: inherit; font-weight: 500;line-height: 1.1;color: inherit;margin-top: 20px;margin-bottom: 10px;">Gracias por registrarte!</h3>
            <p style="font-size: 17px;">Confirma tu dirección de correo electrónico para completar tu cuenta de {{site.name}}. Es fácil, solo haz clic en el botón de abajo.</p>
            <p style="font-size: 17px;">Tienes {{ expiration_days }} días para confirmar tu cuenta</p>
            <a style=" width: 40%;color: #fff;text-decoration: none;background-color: #FF5722;border-color: #eea236;padding: 10px 16px;font-size: 18px;line-height: 1.3333333;border-radius: 6px;display: block;
                margin-right: auto;margin-left: auto; opacity: .9" href="https://{{site.domain}}{% url 'registration_activate' activation_key %}" target="_blank">Confirmar mi cuenta ahora !</a>  
        </div>
    </body>
</html>

{% comment %}
**registration/activation_email.html**

Used to generate the html body of the activation email. Should display a
link the user can click to activate the account. This template has the
following context:

``activation_key``
    The activation key for the new account.

``expiration_days``
    The number of days remaining during which the account may be
    activated.

``site``
    An object representing the site on which the user registered;
    depending on whether ``django.contrib.sites`` is installed, this
    may be an instance of either ``django.contrib.sites.models.Site``
    (if the sites application is installed) or
    ``django.contrib.sites.requests.RequestSite`` (if not). Consult `the
    documentation for the Django sites framework
    <http://docs.djangoproject.com/en/dev/ref/contrib/sites/>`_ for
    details regarding these objects' interfaces.

``user``
    The new user account

``request``
    ``HttpRequest`` instance for better flexibility.
    For example it can be used to compute absolute register URL:

        {{ request.scheme }}://{{ request.get_host }}{% url 'registration_activate' activation_key %}
{% endcomment %}