{% extends "registration/registration_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block script_head %}
<style type="text/css">
    .btn-cart,.posicion-pagina {
        display: none
    }
    .control-label {
        font-size:16px;
    }
</style>
{% endblock %}

{% block content %}
<div class="div-container-md">
	<div class="row box" style="padding-bottom: 9px;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="page-header">
				<h3 class="title-principal text-center"> Restablecer la contraseña </h3>
			</div>
			<p style="padding-bottom: 20px; font-size: 16px" class="text-justify">
		    	Ingresa tu email en el siguiente formulario y te enviaremos instrucciones para restaurar tu contraseña.
			</p>

			<form method="post" action="" class="form-horizontal">
		    	{% csrf_token %}
		    	<div class="form-group">
			    	{{ form.email.label_tag }}
		        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		        		{{ form.email }}
	       		 	</div>
	       		</div>
			<button class="btn btn-warning btn-lg btn-block center-block" type="submit" value="Submit" /> Restaurar contraseña</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block script_footer %} 
	<script type="text/javascript">
	    $(document).ready(function(){
	       	$('input,select').attr('class','form-control')
            $('label').attr('class','col-lg-12 col-md-12 col-sm-12 col-xs-12')
	    });
	</script>
{% endblock %}


{# This is used by django.contrib.auth #}
