{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}Constraseña reseteada{% endblock %}

{% block content %}
<div class="div-container-md">
	<div class="row box">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3 class="title-principal"> Contraseña Restablecida</h3>
			<hr>
			<p style="font-size: 17px;" class="text-justify">
				Tu contraseña ha sido restablecida correctamente.
				Para ingresar da clic <a style="color: #FF5722;font-weight: bold;" href="{{ login_url }}">AQUI</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
