{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}Restaurar Contraseña{% endblock %}

{% block content %}
<div class="div-container-md">
	<div class="row box">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2 class="title-principal"> Restaurar contraseña</h2>
			<hr>
			<p style="font-size: 17px;" class="text-justify">
				Te hemos enviado un correo electrónico con el link de restauración de tu contraseña.
				Verifica tu correo electrónico y sigue las instrucciones.
			</p>
		</div>
	</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
