{% load i18n %}
<!doctype html>
<html lang="es">
<head>
    <title>{{site.domain}} registro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
	<div style=" width: 800px;margin: 30px auto;text-align: center;color:black;">
        <figure>
            <img src="https://s3.amazonaws.com/s3shopneubs/static/img/logo-email.png" style="width:
            190px; height: 55px;display: block;margin-right:auto;margin-left:auto;
            padding-top:7px;border-radius: 8px;">
        </figure>
		<h2 style="font-size: 30px; font-family: inherit;font-weight: 500;
        line-height: 1.1;color: inherit;margin-top: 20px;margin-bottom: 10px;">¿Restablecer tu contraseña?</h2>

		<p style="font-size: 17px;">Si solicitaste un restablecimiento de contraseña para {{ user.username }}, haz clic en el botón que aparece a continuación. Si no solicitaste esto, ignora este correo electrónico.</p>

	   <a style=" width: 40%;color: #fff;text-decoration: none; background-color:   
        #FF5722;border-color: #eea236;padding: 10px 16px;font-size: 18px;line-height:
        1.3333333;border-radius: 6px;display: block;
        margin-right: auto;margin-left: auto; opacity: .9; display: block;
        margin-right: auto;margin-left: auto;"  target="_blank" href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}">Restablecer Contraseña
        </a>
	</div>
</body>
</html>

{# This is used by django.contrib.auth #}
