{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<div class="div-container-md">
	<div class="row box">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2 class="text-center title-principal">Ingresa tu nueva contraseña</h2>
			<hr>
			<form method="post" action="" style="padding: 0px 17px">
			    {% csrf_token %}
			    {{ form }}
			    <input class="btn btn-lg btn-block btn-success" style="margin-bottom: 12px;" type="submit" value="Cambiar contraseña" />
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block script_footer %} 
<script type="text/javascript">
$(document).ready(function()
{
	$('form').attr('class','form-horizontal')
	$('label').attr('class','col-lg-12 col-md-12 col-sm-12 col-xs-12')
	$('input[type=password]').each(function(){
		$(this).attr('class','form-control')
		// Se obtiene el label de cada input
		label = $(this).prev()
		// Se crea el div con clase 'form-group' antes del label
		$(label).before( "<div class='form-group'>" );
		div_principal = $(label).prev()
		// Se agrega en el div creado el label y el input
		$(label).appendTo(div_principal)
		$(this).appendTo(div_principal)
		// Se crea un div antes del input
		$(this).before( "<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>" );
		div = $(this).prev()
		// se agrega el input en el div creado
		$(this).appendTo(div)
	})
	$('.helptext').before("<div class ='col-lg-12 col-md-12 col-sm-12 col-xs-12'>")
	row = $('.helptext').prev()
	$('.helptext').appendTo(row)
	$('.errorlist').siblings("div").find('input').attr('style','border:1px solid red;box-shadow:0px 0px 1px 1px red;')
});
</script>
{% endblock %}
{# This is used by django.contrib.auth #}
