{% extends 'base.html' %}


{% block title %}
	Actualizar Cache - Solo Admins
{% endblock %}


{% block posicion_pagina %}
<ol class="breadcrumb">
	<li><a href="{% url 'home'%}">Inicio</a></li>
	<li><a class="active" href="{% url 'actualizar_cache'%}">Actualizar Cache</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<h3 class="item-heading bg-grey">Actualizar Cache </h3>
	<hr>
	<br>
	<br>
	<form id='from-cache' class="form-horizontal"  method="POST" action="">
		{% csrf_token %}
		<input type="hidden" id="name-cache" name="name-cache">
		<h4 class="item-heading bg-grey">INDEX</h4>
		<hr>
		<div class="form-group">
			<label class="col-lg-2 col-md-2 col-sm-3 col-xs-4 control-label" for="numeroPedido">Carousel</label>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
				<button type="button" class="btn btn-danger" data-cache="index_carousel">Borrar</button>
			</div>
			<label class="col-lg-2 col-md-2 col-sm-3 col-xs-4 control-label" for="numeroPedido">Categorias</label>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
				<button type="button"  class="btn btn-danger"  data-cache="index_categorias">Borrar</button>
			</div>
			<label class="col-lg-2 col-md-2 col-sm-3 col-xs-4 control-label" for="numeroPedido">Marcas</label>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
				<button type="button" class="btn btn-danger" data-cache="index_marcas">Borrar</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 col-md-2 col-sm-3 col-xs-4 control-label" for="numeroPedido">Promocion</label>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
				<button type="button" class="btn btn-danger" data-cache="index_promocion">Borrar</button>
			</div>
			<label class="col-lg-2 col-md-2 col-sm-3 col-xs-4 control-label" for="numeroPedido">Mas vistos</label>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
				<button type="button" class="btn btn-danger" data-cache="index_mas_vistos">Borrar</button>
			</div>
		</div>
		<h4 class="item-heading bg-grey">MENUS</h4>
		<hr>
		<div class="form-group">
			<label class="col-lg-2 col-md-2 col-sm-3 col-xs-4 control-label" for="numeroPedido">Categorias</label>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
				<button type="button" class="btn btn-danger" data-cache="menu_categoria">Borrar</button>
			</div>
		</div>
		<h4 class="item-heading bg-grey">TODO (busquedas, productos por categoria, producto detalle, etc...)</h4>
		<hr>
		<div class="form-group">
			<label class="col-lg-2 col-md-2 col-sm-3 col-xs-4 control-label" for="numeroPedido">BORRAR TODO </label>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
				<button type="button" class="btn btn-danger" data-cache="TODO">Borrar</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block script_footer %}
<script type="text/javascript">
	$("button").click(function(){
		var cache = $(this).data('cache')
		$('#name-cache').val(cache)
		$("#from-cache").submit()
	})
</script>
{% endblock %}