<!DOCTYPE html>
<html>
<head></head>
<body>
<div style="width: 100%;margin: auto;color:black;">

    <p style="font-size:17px">Hola, {{ pedidoVenta.cliente.datoBasicoTercero.descripcion }}</p>
    <p style="font-size: 17px;">Te informamos que el pedido N°{{ pedidoVenta.numeroPedido }} ha sido
        <strong>autorizado</strong>.
        Si solicitaste el envío de éste por medio de una transportadora, pronto te proporcionaremos el número de guía.
    </p>
    <p style="font-size: 17px;">Gracias por preferirnos</p>
    <p style="font-size: 17px;">Un saludo cordial,<br>
        <figure>
            <img src="https://s3.amazonaws.com/s3shopneubs/static/img/logo_email_small.png"
                 style="display: block;margin-right:auto;margin-left:auto;padding-top:7px;border-radius: 8px;">
        </figure>
    </p>
</div>
</body>
</html>