{% load staticfiles %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es">
    <head>
        <title>{% block title %} {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'img/iconoNeubs.ico' %}" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120-precomposed.png" /> <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152-precomposed.png" />
        <meta name="author" content="neubs.com.co">
        <meta name="owner" content="neubs">
        <meta name="description" content="{% block meta_description %} {% endblock %}">
        <meta name="keywords" content="Shopneubs, Shopneubs.com, Tienda Online, Tecnología, Tienda Tecnológica, Pc, Computadores, Electróncia, Videojuegos, Games, Consolas de Video, Motherboards, Procesadores, Memorias Ram, Memorias Flash, Portatiles, Teclados, Mouses, Cajas ATX, Chasis, Discos Duros, SSD, Fuentes de Poder, Impresoras, Refrigeración, Tarjetas de Video">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/style.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/animations.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/toastr.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/font-Aller.css'%}">
        <style type="text/css">
            .navbar-brand:hover{
                opacity: 1;
            }
        </style>
        {# Carga los stilos y los scripts necesarios a la pagina #}
        {% block script_head %} 
        {% endblock %}
    </head>
    
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
        <div id="header"></div>
        
        <div class="panel">
            <div class="panel-body text-center">
                Una forma fácil y rápida de comprar. Ingrese a <a style="color: #FF5722; font-weight: bold" href="{% url 'como_comprar'%}">Cómo Comprar en ShopNeubs</a> , y conoce el paso a paso para realizar  una compra.         
            </div>
        </div>
        <div class="posicion-pagina">
            {% block posicion_pagina %}
            {% endblock %}
        </div>
        {% include "messages.html" %}
       

        {# solo para carousel #}
        {% block carousel %}
        {% endblock %}

        <div class="container-principal">
        {% block content %}
        {% endblock %}
        </div>

        {% block above_footer %}
        {% endblock%}
        
        {% include "footer.html" %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
        <script type="text/javascript" src="{% static  'js/toastr.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                {# Se consulta de manera asincrona el header#}
                {# esto con la finalidad de no dejarlo cacheado #}
                usar_ajax("{% url 'get_header'%}","#header","next={{request.get_full_path}}&filtro={{request.GET.filtro}}","GET")
            })
        </script>
        {% block script_footer %} {% endblock %}
        <script type="text/javascript" src="{% static 'js/scripts.min.js'%}"></script>
    </body>
</html>
