<footer class="text-center"> 
    <div class="container-fluid" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="text-center"><b>Contáctenos</b></p>   
                <h5><span class="glyphicon glyphicon-phone icon "></span>(57)3222709439 - (57)3222331893</h5>
                <h5><span class="glyphicon glyphicon-envelope icon"></span> shop@neubs.com.co</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 ">
            </div>
            <div class=" col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <ul class="copyright">
                    <li> © 2017 Neubs S.A.S. Todos los Derechos Reservados </li>
                    <li><a href="{% url 'terminos-y-condiciones'%}">Terminos y Condiciones</a></li>
                    <li><a href="{% url 'politica_privacidad'%}">Política de Privacidad</a></li>
                </ul>
            </div>
            <div class="to-top ">
                <a href="#myPage" title="To Top" class="ico-to-top">
                    <span class="glyphicon glyphicon-chevron-up" ></span>
                </a>
            </div>
        </div>
    </div>
</footer>