{% load staticfiles %}
<footer class="text-center">
    <div class="container-fluid" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h5><b>Horario de Atención</b></h5>
                <h5>Lunes a Viernes de 7:00 AM a 5:00 PM </h5>
                <h5> Sábados de 8:00 AM a 12:00 PM </h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <p class="text-center"><b>Contáctenos</b></p>
                <h5><span class="glyphicon glyphicon-phone icon "></span>3222709439 - 3222331893</h5>
                <h5><span class="glyphicon glyphicon-envelope icon"></span> shop@neubs.com.co</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <a target="_blank" style="cursor: pointer" href="https://play.google.com/store/apps/details?id=co.com.neubs.shopneubs">
                    <img style="width: 150px; margin: auto" src="{% static 'img/google_play_badges.png' %}" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="copyright">
                    <li><a href="{% url 'terminos_y_condiciones' %}">Terminos y Condiciones</a></li>
                    <li><a href="{% url 'informacion_envio' %}">Información de Envío</a></li>
                    <li><a href="{% url 'garantia' %}">Garantías</a></li>
                </ul>
                <p class="text-center" style="font-size: 10px">© 2017 Neubs S.A.S. Todos los Derechos Reservados</p>
            </div>
            <div class="to-top ">
                <a href="#myPage" title="To Top" class="ico-to-top">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </div>
        </div>
    </div>
</footer>