<nav>
  <ul id="nav-categorias" class="box">
  <li><h5 class="text-center">CATEGORIAS</h5></li>
  <hr style="margin-bottom:0px;">
   {% if listado_categorias %}
      {% for categoria_padre in listado_categorias%}
        <li>
          <a href="{% url 'productos_categoria' categoria_padre.categoriaPadre.descripcion  %}">{{categoria_padre.categoriaPadre.descripcion}}
        {% if categoria_padre.categoriaHijo %}
          <spam id="chevron" class="glyphicon glyphicon-chevron-down " style=" float:right;font-size:19px"></spam>
          </a>
          <ul>
              {% for categoria_hijo in categoria_padre.categoriaHijo%}
                <li>
                  <a href="{% url 'productos_categoria' categoria_hijo.categoriaPadre.descripcion %}">{{categoria_hijo.categoriaPadre.descripcion}}</a>
                </li>
              {% endfor %}
           </ul>
         {% else %}
          </a>
         {% endif %} 
         </li>     
      {% endfor %}
    {% endif %}
  </ul>
</nav>


